.record{
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.user-details{
    margin-bottom: 40px;
}

.break{
    margin-bottom: 40px;
}

.break-btns{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.btn-break{
    border: none;
    border-radius: 25px;
}

.btn-break .btn-break-text{
    padding: 5px;
    
}

.btn-break:hover{
    background-color: rgb(138, 130, 136);
}

.activity-details{
    margin-bottom: 40px;
}

.activity-details p{
    background-color: white;
    border-radius: 5px;
    padding: 8px;
}

.btn-completed{
    width: 80%;
    background-color: #6b0b75;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-completed .btn-completed-text {
    margin-right: 5px;
    color: white;
    font-weight: 700;
}

.btn-completed:hover{
    background-color: rgb(53, 1, 44);
}