.club-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.activities-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px 50px;
}

.record-container{
    background-color: rgba(165, 209, 245, 0.3);
}

@media screen and (max-width:688px){
    .activities-container{
        grid-template-columns: repeat(1, 1fr);;
    }
}